@page "/flagged"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons

<!--<style>
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 900px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>-->

<PageTitle>Flagged Foods</PageTitle>

<h1 style="text-align: center">Gut Guardian</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <SfGrid @ref="Grid" DataSource="foodDiary" AllowPaging="true" AllowSorting="true" Height="500">
                <GridColumns>
                    <GridColumn Field="Food" HeaderText="Flagged Ingredients" TextAlign="TextAlign.Left" Width="300"></GridColumn>
                    <GridColumn HeaderText="Flag" TextAlign="TextAlign.Right" Width="50">
                        <Template>
                            @{
                                <SfCheckBox TChecked="bool"></SfCheckBox> //refer to eric's admin.razor
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn HeaderText="Whitelisted Ingredients" TextAlign="TextAlign.Left" Width="300"></GridColumn>
                    <GridColumn HeaderText="Whitelist" TextAlign="TextAlign.Right" Width="75">
                        <Template>
                            @{
                                <SfCheckBox TChecked="bool"></SfCheckBox> //refer to eric's admin.razor
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

<div>
    Flagged ingredients are ingredients that have an adverse effect on a user even though they are not considered a FODMAP.
    Whitelisted ingredients are ingredients that are considered a FODMAP, but do NOT have an adverse effect on a user.
</div>

<!--<div class="row">
    <div class="column" style="background-color:#aaa">
        <h2 style="text-align:center">Food Intake</h2>
    </div>
    <div class="column" style="background-color:#bbb">
        <h2 style="text-align:center">Food Diary</h2>
    </div>
    <div class="column" style="background-color:#ccc">
        <h2 style="text-align:center">Flagged Foods</h2>
    </div>
</div>-->

<!--TESTING CODE HERE FOR CONTROLLER-->
@if(foodDiary?.Any() ?? false)
{
    @foreach(var entry in foodDiary)
    {
        <li>@entry.Food</li>
    }
}

<iframe src="https://copilotstudio.microsoft.com/environments/Default-5011c7c6-0ab4-46ab-9ef4-fae74a921a7f/bots/crad4_capstoneProjectBot/webchat?__version__=2"
frameborder="0" style="width: 1000px; height: 400px; margin: 0 auto; display: block;"></iframe>

<!--<SfButton CssClass="e-info">FAQ</SfButton>
<SfButton CssClass="e-info">Monash</SfButton>
<SfButton CssClass="e-info">Docs</SfButton>-->

<!--<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>-->

@code {
    private SfGrid<HPCFodmapProject.Shared.IntakeDto> Grid;
    public List<int> Orders = new List<int> {1,2,3,4,5};
}
