@page "/home"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons

<PageTitle>Home</PageTitle>

<center><h1>Gut Guardian</h1></center>

<SfGrid @ref="Grid" DataSource="@Orders" Height="500">
    <GridColumns>
        <GridColumn HeaderText="Food Intake" TextAlign="TextAlign.Left" Width="300"></GridColumn>
        <GridColumn HeaderText="Flag" TextAlign="TextAlign.Right" Width="100"></GridColumn>
    </GridColumns>
</SfGrid>

<iframe src="https://copilotstudio.microsoft.com/environments/Default-5011c7c6-0ab4-46ab-9ef4-fae74a921a7f/bots/crad4_capstoneProjectBot/webchat?__version__=2"
frameborder="0" style="width: 1000px; height: 400px; margin: 0 auto; display: block;"></iframe>

<SfButton CssClass="e-info">FAQ</SfButton>
<SfButton CssClass="e-info">Monash</SfButton>
<SfButton CssClass="e-info">Docs</SfButton>

<!--<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>-->

@code {
    private SfGrid<int> Grid;
    public List<int> Orders = new List<int> {1,2,3,4,5};
}
