@page "/"
@using Syncfusion.Blazor.Spinner

<!--<SfSpinner Visible=true></SfSpinner>-->

<PageTitle>Gut Guardian</PageTitle>

<!--<h1 style="text-align: center">Gut Guardian</h1>-->

<!--REPLACE WITH LOGO -->
<center><img src="/GGLogo.png" alt="logo" width="50%"/></center>

<h2 style="text-align:center">
    Welcome to Gut Guardian!
    <AuthorizeView>
        <NotAuthorized>
            Please <a href="authentication/login">login</a> or <a href="authentication/register">register</a> to continue.
        </NotAuthorized>
        <Authorized>
            Visit the <a href="/home">Home Dashboard</a> to get started tracking FODMAPs!
        </Authorized>
    </AuthorizeView>
    <br />
    <br />
    Questions on FODMAPs? Visit Monash University's <a href="https://www.monashfodmap.com/about-fodmap-and-ibs/" target="_blank" rel="noopener noreferrer">FAQ</a>!
</h2>

